@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Rubik+Glitch&display=swap");

.heading {
  display: flex;
  justify-content: center;
  padding: 1vmax;
  background-color: aliceblue;
}

.heading div {
  margin-top: 50px;
  background-color: rgba(104, 104, 104, 0.282);
  height: 1px;
  width: 20vw;
}

.heading p {
  margin: 2vmax;
  /* font-family: "Cinzel Decorative", cursive; */
  font-size: 24px;
}
