.nv {
  z-index: 1000;
  display: flex;
  padding: 0 40px;
  background: white;
  overflow: hidden;
  position: sticky;
  text-align: center;
}

.logo {
  background-color: #ff6700;
  overflow: hidden;
  width: 40px;
  height: 40px;
  margin-top: 15px;
  border-radius: 14px;
  cursor: pointer;
  position: relative;
}

#logoImage {
  padding: 7px 10px;
  transform: translateX(-14px);
  transition: 0.2s;
  height: 40px;
}
#logoImage:hover {
  transform: translateX(-60px);
}

.nvbr {
  padding: 20px 20px;
  background: rgba(0, 0, 0, 0);
}
.nvbr a {
  color: gray;
  font-size: 16px;
  font-weight: 600;
  padding: 30px 20px;
  text-decoration: none;
  background: rgba(0, 0, 0, 0);
}
.nvbr a:hover {
  color: orangered;
  text-shadow: none;
}
.serch {
  background-color: rgba(240, 248, 255, 0);
  padding: 25px 20px;
}

.serch span {
  background-color: transparent;
}

.serch input {
  border: none;
  width: 200px;
  outline: none;
  font-size: 16px;
  background-color: rgba(240, 248, 255, 0);
  margin-left: 100px;
  border-bottom: 1px solid silver;
}

.right {
  margin-left: 20rem;
}
