.ProductReviewCard {
  margin: 8px;
  padding-bottom: 28px;
  background-color: rgb(255, 255, 255);
  transition: all 0.5s;
}

.ProductReviewCard:hover {
  transform: translateY(-0.1vmax);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.ProductReviewCard img {
  height: 240px;
  width: 600px;
}

.ProductReviewCard h5 {
  padding: 16px;
  color: gray;
  font-weight: 600;
}

.ProductReviewCard span {
  padding: 0px 30px;
}

.ProductReviewCard b {
  color: orangered;
  font-weight: 500;
  padding: 0px;
}
